.box{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #817B7B;
}
.center{
    background: #bbe8e8;
    width: 70%;
}
.empty{
    background: #8cbd74;
    width: 30%;
}