body{
    margin: 0;
}

header{
    width: 100vw;
    height: 30vh;
    background: #8cbd74;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 70vw;
    height: 70vh;
    background: #817B7B;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 30vw;
    height: 70vh;
    background: #817B7B;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
}